{% extends "pages/index1.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block addProduits %}
<form class="dropzone dropzone-custom needsclick add-professors" action="" method="post" enctype="multipart/form-data">
{% csrf_token %}
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="form-group">
        {{form|crispy}}
        <div class="form-group">
            <input type="submit" class="form-control" value="Ajouter">
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock addProduits %}
