{% extends "pages/base.html" %}
{% load static %}
{% block allProduits %}
    <div class="contacts-area mg-b-15">
      <div class="container-fluid">
        <div class="row">

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="sparkline8-list">
                  <div class="sparkline8-hd">
                      <div class="main-sparkline8-hd">
                          <h1>Historique des modifications</h1>
                      </div>
                  </div>
                  <div class="sparkline8-graph">
                      <div class="static-table-list">
                          <table class="table" align = "center">

                              <thead>
                                  <tr>
                                      <th>#</th>
                                      <th>Code</th>
                                      <th>Nom</th>
                                      <th>Quantité Avant</th>
                                      <th>Quantité Ajoutée</th>
                                      <th>Quantité Retirée</th>
                                      <th>Quantité Après</th>
                                      <th>Date de la modification</th>
                                  </tr>
                              </thead>
                              <tbody>
                                {% for record in history %}
                                  <tr>
                                      <td>1</td>
                                      <td>{{record.produit.code_product}}</td>
                                      <td>{{record.produit.nom}}</td>
                                      <td>{{record.qteAvant}}</td>
                                      <td style="color:#0A8F0E">{{record.qtePlus}}</td>
                                      <td style="color:#FF0000";>{{record.qteMoins}}</td>
                                      <td>{{record.qteApres}}</td>
                                      <td>{{record.date}}</td>
                                  </tr>
                                  {% endfor %}
                              </tbody>
                          </table>
                          <!-- <div class="form-group">
                              <a href="{% url 'pages:addProduit' %}">Ajouter un produit</a>
                          </div> -->
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
{% endblock allProduits %}
